*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* body{
    background-image: url(/images/desktop\ bg.jpg);
    color: white;
} */
.logo{
    height: 50px;
    margin-top: 15px;
}
.container{
    padding: 10px 10%;
}
<<<<<<< HEAD
=======
#header{
    width: 100%;
    background-image: url(images/desktop\ bg.jpg);
    background-size: cover;
    background-position: center;
}
.btn:hover a{
    color: #ffffff;
}
>>>>>>> db065f92706b0ed01f8f6dd3c0fe24e8fef617ed

.btn:hover{
    border: 1px solid #ffffff;
    background-color: #f46036;
    color: #ffffff;
}
.btn a:hover{
    color: #ffffff;
}
.btn a{
    text-decoration: none;
    color: #f46036;
}
.btn{
    background-color: transparent;
    display: block;
    margin: 655px auto auto auto;
    width: fit-content;
    border: 1px solid #f46036;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #f46036;
    transition: 0.5s;
}
.btn:hover a{
    color: #ffffff;
}

/* --------------------scrollbar-------------------

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track 
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ffffff; 
    border-radius: 4px;
  }
   
  /* Handle 
  ::-webkit-scrollbar-thumb {
    background: #f46036; 
    border-radius: 4px;
  }

  /* ::-webkit-scrollbar-button{
    color: #ffff;
    height: 25px;
    display: block;
  } 
  
  /* Handle on hover 
  ::-webkit-scrollbar-thumb:hover {
    background: #c44b2a; 
  }
   */




/*----------css for small screen------------------- */




@media only screen and (max-width: 600px){
    body{
        background-image: url(images/phone\ bg.jpg);
    }
    body img{
        max-width: 600px;
    }
    #header{
<<<<<<< HEAD
=======
        background-image: url(images/phone\ bg.jpg);
>>>>>>> db065f92706b0ed01f8f6dd3c0fe24e8fef617ed
        background-size: cover;
        background-position: center;
        padding-bottom: -10px;
        width: auto;
    }
    .btn {
        background-color: transparent;
        display: block;
        margin: 655px auto auto auto;
        width: 257px;
        border: 1px solid #f46036;
        padding: 7px 51px;
        border-radius: 6px;
        text-decoration: none;
        color: #f46036;
        transition: 0.5s;
    }
<<<<<<< HEAD
    
}
=======
    /*
    .header-text{
        margin-top: 60%;
        margin-bottom: 40%;
        font-size: 16px;
    }
    .header-text h1{
        margin-top: 20px;
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;

    }
    /*----nav display------
    nav img{
        display: none;
    }
    nav ul{
        border-radius: 0;
        display: block;
        background: #262626;
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        overflow: hidden;
        transition: 0.5s;
    }
    nav ul li{
        display: block;
        padding: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 20px;
        left: 25px;
        cursor: pointer;
    }
    nav.fa-solid{
    top: 25px;
    left: 25px;
    cursor: pointer;
   }
   /* after header styles 
    .container{
    padding: 5px 10%;
}
    .subtitle, .subtitle2{
        font-size: 40px;
    }
    .row{
        display: contents;
        flex-basis: 100%;
    }
    #about {
        padding: 20px 0;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .grid-container{
        display: inline-block;
        grid-template-columns: auto auto auto;
        padding: 0px 0px;
        margin-left: -85px;
    }
    .grid-container div{
        margin: 25px;
        height: 400px;
    }
    #services{
        padding: 0px 100px;
    }
    #services h1{
        padding-top: 0px;
        margin-left: -60px;
    }
    #botm{
        display: none;
    }
    .work-list{
        position: relative;
        display: contents;
    }
    .work{
        margin: 10px;
    }
    .work img{
        margin-left: 0;
    }
    .layer{
        margin-left: 0; 
    }
    #contact{
        height: max-content;
        position: relative;
        display: contents;
    }
    .contact-left{
        text-align: center;
        flex-basis: 0;
    }
    .contact-left h1{
        margin-left: -50px;
        text-align: center;
    }
    .social-icons{
        text-align-last: center;
    }
    .social-icons a{
        margin-right: -6px;
    }
    .contact-left .btn-margin{
        margin-left: -6px;
    }
    .info{
        width: 100%;
        margin-left: 22px;
        margin-top: 12px;
    }
    .contact-right form{
        width: 125%;
        margin-left: 0px;
        padding-bottom: 0;
    }
    form ::placeholder{
        font-size: 14px;
    }
    .coffee{
        text-align: center;
        margin-top: 0;
        margin-bottom: 40px;
        margin-left: 14px;
        margin-right: 14px;
    }
    .payment {
        margin-left: 55px;
        margin-top: -35px;
        margin-bottom: -35px;
    }
    .raating{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 40px;
        margin-left: 14px;
        margin-right: 14px;
    }
    #myBtn{
        height: 40px;
        width: 40px;
        font-size: 14px;
    }
    .copyright p{
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 10px;
    }
}
*/
>>>>>>> db065f92706b0ed01f8f6dd3c0fe24e8fef617ed
