*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: white;
}
.logo{
    height: 50px;
    margin-top: 15px;
}
.container{
    padding: 10px 10%;
}
#header{
    width: 100%;
    background-image: url(images/desktop\ bg.png);
    background-size: cover;
    background-position: center;
}
.header-text h1 span:hover{
    color: #f46036;
    font-weight: 200;
}
.header-text h1 span.name a{
    text-decoration: none;
    color: #f46036;
    cursor: pointer;
}
.header-text h1 span.name a:hover{
    color: #fcfcfc;
}
.header-text p:hover{
    color: #f46036;
    font-weight: 1000;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
text-decoration: none;
color: #ffffff;
font-size: 18px;
position: relative;
transition: 0.5s;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #f46036;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover{
    color: #f46036;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    color: #fcfcfc;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
/*----about----*/
#about{
    padding: 15px 0;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 500px;
}
.about-col-1{
    padding-top: 80px;
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: #ffff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 20px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}
.tab-links::after{
    content:'';
    width: 0px;
    height: 3px;
    background: #f46036;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
 }
 .tab-links:hover{
    color: #f46036;
 }
 .tab-links.active-link{
    color: #f46036;
 }
.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #f46036;
    font-size: 18px;
    font-weight: 800;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    font-size: 14px;
    font-weight: 400;
    display: block;
    height: 175px;
    overflow-y: scroll;
}
.tab-contents.active-tab ul li a{
    text-decoration: none;
    color: #f46036;
}
.tab-contents a{
    color: #aa4225;
}
.active-link:hover{
    color: #ffff;
}

/*----services----*/
#services {
    padding-top: 0;
    padding-left: 100px;
    padding-right: 100px;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    align-items: flex-start;
}
.services-list{
   padding-left: 120px;
   padding-right: 120px;
}
.subtitle2{
margin-left: 20px;
}

.grid-container div{
    background: #262626;
    padding: 40px;
    margin: 10px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    height: 400px;
    transition: 0.5s;
}
.grid-container div i{
    font-size: 50px;
    padding-bottom: 30px;
    width: 105%;
}
.grid-container div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.grid-container div a{
    text-decoration: none;
    font-size: 12px;
    color: #ffffff;
    margin-top: 20px;
    display: inline-block;
}
.grid-container div:hover{
    background: #f46036;
    transform: translateY(-10px);
}
.grid-container div a .link{
    font-size: 18px;
    margin-left: 5px;
}
/*----portfolio-----*/
#portfolio{
    padding: 10px 0;
}
.work-list{
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px;
    align-items: vertical;
}
.work{
    margin-left: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 350px;
    border-bottom-left-radius: 10px;
}
.work img{
    border-radius: 10px;
    width: 120%;
    height: 350px;
    display: block;
    margin-left: 0px;
    transition: 0.5s;
}
.layer{
    /* margin-left: 10px; */
    width: 100%;
    height: 0;
    background: rgb(244,96,54);
    background: -moz-linear-gradient(180deg, rgba(244,96,54,0.5998774509803921) 0%, rgba(244,96,54,1) 40%, rgba(244,96,54,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(244,96,54,0.5998774509803921) 0%, rgba(244,96,54,1) 40%, rgba(244,96,54,1) 100%);
    background: linear-gradient(180deg, rgba(244,96,54,0.5998774509803921) 0%, rgba(244,96,54,1) 40%, rgba(244,96,54,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f46036",endColorstr="#f46036",GradientType=1);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 0.5s;
}
.layer a{
    text-decoration: none;
    color: #f46036;
    margin-top: 10px;
    font-size: 22px;
    line-height: 60px;
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.layer p{
    margin-top: 10px;
}
.work:hover img{
    transform: scale(1.2);
    border-radius: 20px;
}
.work:hover .layer{
    height: 100%;
}
.btn{
    background-color: transparent;
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #f46036;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #f46036;
    transition: 0.5s;
}
.btn.btn2{
    background-color: transparent;
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #f46036;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #f46036;
    transition: 0.5s;
}
.btn:hover{
    border: 1px solid #ffffff;
    background-color: #f46036;
    color: #ffffff;
}
.btn.btn2:hover{
    border: 1px solid #ffffff;
    background-color: #f46036;
    color: #ffffff;
}

/*-------contact-------*/
.contact-left{
    flex-basis: 40%;
    text-align-last: center;
}
.contact-right{
    width: 80%;
    flex-basis: 55%;
    }
.contact-left h1{
    font-size: 40px;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p a{
    margin-top: 30px;
    text-decoration: none;
    color: #ffffff;
}
.contact-left p a i{
    color: #f46036;
}
.contact-left a{
    margin-top: 30px;
    text-decoration: none;
    color: #ffffff;
}
.contact-left a i{
    color: #ababab;
}
.social-icons{
    margin-top: 30px;
}
.social-icons i{
    margin-right: 15px;
    font-size: 30px;
    display: inline-flex;
    transition: 0.5s;
}
.social-icons i:hover{
    color: #f46036;
    transform: translateY(-5px);
}
/*-----form------*/
form{
    margin-left: 30px;
    margin-left: 20px;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #ffff;
    font-size: 18px;
    border-radius: 6px;
}
form textarea{
    resize: vertical;
}
.info{
    margin-left: 32px;
    margin-top: 12px;
}
.contact-right form .btn{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.btn-margin{
    margin-left: -13px;
}

/*-----botm btn-----*/
.botm{
    background-color: #f46036;
    color: #ffff;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
}

#mybutton{
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: #fcfcfc;
}
.botm a{
    text-decoration: none;
    color: #ffff;
}
.fa-up-from-line{
    color: #ffff;
    font-size: 18px;
}

/* ------------------------rating----------------- */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    }
    
    .rating > input{
     display:none;
    }
    
    .rating > label {
    position: relative;
    width: 1.1em;
    font-size: 45px;
    color: #FFD700;
    cursor: pointer;
    }
    .raating{
        text-align: center;
        margin-top: 20px;
    }
    
    .rating > label::before{
    content: "\2605";
    position: absolute;
    opacity: 0;
    }
    
    .rating > label:target :before,
    .rating > label:target ~ label:before {
    opacity: 1 !important;
    }
    
    .rating > input:checked ~ label:before{
    opacity:1;
    }
    
    .rating:target > input:checked ~ label:before{ 
    opacity: 0.4;
}

/*----copyright-----*/
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    box-sizing: border-box;
    position: absolute;
}
.copyright a{
    text-decoration: none;
    color: white;
}
.fa-heart{
    color: red;
}
form{
    padding-bottom: 25px;
}
.coffee{
    text-align: center;
    margin-top: 70px;
}
.payment{
    margin-left: 555px;
    /* margin-right: 66px; */
    margin-top: 30px;
    margin-bottom: -35px;
}
#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #f46036;
    color: #ffff;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50%;
}
#myBtn:hover {
    background-color: transparent;
    border: 1px solid #ffff;
}
.hover, .hover2 {
    transition: 0.5s;
}
.hover:hover{
    color: red;
}
.hover2:hover{
    color: green;
}
/* --------------------scrollbar------------------- */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ffffff; 
    border-radius: 4px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f46036; 
    border-radius: 4px;
  }

  /* ::-webkit-scrollbar-button{
    color: #ffff;
    height: 25px;
    display: block;
  } */
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c44b2a; 
  }





/*----------css for small screen-------------------*/
nav .fa-solid{
    display: none;
}






@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/phone\ bg.jpg);
        background-size: cover;
        background-position: center;
        padding-bottom: -10px;
        width: auto;
    }
    .header-text{
        margin-top: 60%;
        margin-bottom: 40%;
        font-size: 16px;
    }
    .header-text h1{
        margin-top: 20px;
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;

    }
    /*----nav display------*/
    nav img{
        display: none;
    }
    nav ul{
        border-radius: 0;
        display: block;
        background: #262626;
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        overflow: hidden;
        transition: 0.5s;
    }
    nav ul li{
        display: block;
        padding: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 20px;
        left: 25px;
        cursor: pointer;
    }
    nav.fa-solid{
    top: 25px;
    left: 25px;
    cursor: pointer;
   }
   /* after header styles */
    .container{
    padding: 5px 10%;
}
    .subtitle, .subtitle2{
        font-size: 40px;
    }
    .row{
        display: contents;
        flex-basis: 100%;
    }
    #about {
        padding: 20px 0;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .grid-container{
        display: inline-block;
        grid-template-columns: auto auto auto;
        padding: 0px 0px;
        margin: auto -91px;
    }
    .grid-container div{
        margin: 25px;
        height: 400px;
    }
    #services{
        padding: 0px 100px;
    }
    #services h1{
        padding-top: 0px;
        margin-left: -60px;
    }
    #botm{
        display: none;
    }
    .work-list{
        position: relative;
        display: contents;
    }
    .work{
        margin: 10px;
    }
    .work img{
        margin-left: 0;
    }
    .layer{
        margin-left: 0; 
    }
    #contact{
        height: max-content;
        position: relative;
        display: contents;
    }
    .contact-left{
        text-align: center;
        flex-basis: 0;
    }
    .contact-left h1{
        margin-left: -50px;
        text-align: center;
    }
    .social-icons{
        text-align-last: center;
    }
    .social-icons a{
        margin-right: -6px;
    }
    .contact-left .btn-margin{
        margin-left: -6px;
    }
    .info{
        width: 100%;
        margin-left: 22px;
        margin-top: 12px;
    }
    .contact-right form{
        width: 125%;
        margin-left: 0px;
        padding-bottom: 0;
    }
    form ::placeholder{
        font-size: 14px;
    }
    .coffee{
        text-align: center;
        margin-top: 0;
        margin-bottom: 40px;
        margin-left: 14px;
        margin-right: 14px;
    }
    .payment {
        margin: auto 28vh;
    }
    .raating{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 40px;
        margin-left: 14px;
        margin-right: 14px;
    }
    #myBtn{
        height: 40px;
        width: 40px;
        font-size: 14px;
    }
    .copyright p{
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 10px;
    }
}




@media only screen and (max-width: 900px){
    #about .container{
        height: 600px;
    }
    .container{
        padding: 10px 25px;
    }
    .about-col-1 {
        padding-top: 100px;
    }
    #services{
        padding: 0;
    }
    #portfolio{
        padding: 0;
        margin: 0;
    }
}